@model w6.Models.MacchineListaViewModel

<div class="box">
            <div class="box-header">
              <h3 class="box-title">Lista Personale</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody><tr>
                  <th style="width: 10px">Id</th>
                  <th>Nome </th>
                  <th>Proprietario</th>
                </tr>
                @foreach (var item in Model.Macchine)
                {
                     <tr>
                        <td>@item.Id</td>
                        <td>@item.Nome</td>
                        <td>@item.UserID</td>
                        
                     </tr>
                }
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>